@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakesCompressed-Medium.eot");
  src: local("TT Lakes"), local("TTLakes"),
    url("fonts/TTLakesCompressed-Medium.woff") format("woff"),
    url("fonts/TTLakesCompressed-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Regular.eot");
  src: local("TT Lakes"), local("TTLakes"),
    url("fonts/TTLakes-Regular.woff") format("woff"),
    url("fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-DemiBold.eot");
  src: local("TT Lakes"), local("TTLakes"),
    url("fonts/TTLakes-DemiBold.woff") format("woff"),
    url("fonts/TTLakes-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Bold.eot");
  src: local("TT Lakes"), local("TTLakes"),
    url("fonts/TTLakes-Bold.woff") format("woff"),
    url("fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "TT Lakes";
  margin: auto;
  overflow: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 22px 10px;
  height: 88px;
  border-bottom: 1px solid #d9fff5;
}

.header__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__right {
  display: flex;
  justify-content: flex-end;
}

.header__logo {
  margin-left: 10px;
}

.icons {
  background-color: #ff3e79;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.icons:first-child {
  margin-left: 0px;
}

.icons--hiden {
  display: none;
}

@media screen and (min-width: 768px) {
  .icons--hiden {
    display: flex;
  }
}

.header__line {
  height: 32px;
  border-right: 2px solid #eaeaea;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.header__line--hiden {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .header--hiden {
    display: none;
  }
}

.main {
  margin: auto;
  background-color: #f8f8f8;
  padding-top: 20px;
}

.main__header {
  border-left: 4px solid #41f6d7;
  height: 40px;
  padding-left: 10px;
  font-size: 28px;
}

.main__icons {
  display: none;
}

.main__row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: scroll;
  margin: 20px;
}

.main__row::-webkit-scrollbar {
  display: none;
}

.main__button {
  min-width: 246px;
  height: 40px;
  color: #7e7e82;
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  display: block;
  border: none;
  background-color: #f8f8f8;
  margin: 0px 10px;
}

.main__button:hover {
  background-color: white;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

/* .main__button--hidden {
  display: none;
} */

.main__text {
  font-size: 14px;
  line-height: 18px;
  color: #1b1c21;
  margin-left: 20px;
  font-weight: 400;
  max-height: 90px;
  overflow: hidden;
}

.main__text--hidden {
  display: none;
}

.main__img {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .main__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main__textPart {
    width: 50%;
  }

  .main__imgPart {
    width: 50%;
  }

  .main__text {
    line-height: 20px;
    max-height: 157px;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 10px;
  }
  /* .main__button--hidden {
    display: block;
  } */
}

@media screen and (min-width: 1120px) {
  .main__wrapLarge {
    display: flex;
    justify-content: space-between;
  }

  .main__icons {
    display: flex;
    align-items: center;
  }

  .main__iconText {
    font-size: 16;
    font-weight: 600;
  }
  .main__text {
    max-height: 100%;
    padding-top: 20px;
  }
  .main__row {
    overflow: visible;
    flex-wrap: wrap;
  }

  .main__button {
    min-width: auto;
  }
}
.expand {
  height: 24px;
  display: flex;
  margin: 5px 20px 5px 20px;
}

.expand__link {
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  text-decoration: none;
  font-weight: 600;
  padding-left: 5px;
}
